@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #de0505;
  --title-foreground: #90a1b9;
  --heading-foreground: #f8fafc;
  --link-foreground: #ffa1ad;
  --header-h: 64px; /* h-16 */
  --footer-h: 64px; /* h-16 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: var(--title-foreground);
  --color-heading-foreground: var(--heading-foreground);
  --color-link-foreground: var(--link-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: clip;
}

@keyframes pulse-glow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
}
